* {
    padding: 0;
    margin: 0;
}

div.pembungkus {
    margin: 20px auto;
    width: 800px;
    border: 7px solid black;
    /* posisi pembungkus diubah relative 
    supaya kotak merah berada dalam pembungkus  */
    position: relative;
}

div.pembungkus div.pertama {
    width: 150px;
    height: 150px;
    background-color: aqua;
}

div.pembungkus div.kedua {
    width: 150px;
    height: 150px;
    background-color: red;
    /* posisi absolute menjadikan element out-flow 
    dan posisinya relatif terhadap parent yang out-flow juga, 
    sehingga kita harus mengubah posisi parentnya dengan posistion : relative; */
    position: absolute;
    top: 0;
    right: 0;
}

div.pembungkus div.ketiga {
    width: 150px;
    height: 150px;
    background-color: yellow;
}