* {
    margin: 0;
    padding: 0;
}

/* HEADER */
div#header {
    padding: 10px;
    background-color: blueviolet;
}

div#header h3 {
    padding: 10px;
    width: 400px;
    border: 1px solid;
    box-sizing: border-box;
}

div#header ul li {
    background-color: black;
    display: inline-block;
    padding: 5px 10px;
    margin: 10px;
}

div#header ul li a {
    color: red;
    text-align: center;
    text-decoration: none;
}

/* MAIN */
div#main {
    background-color: aqua;
}

div#main img {
    width: 30%;
    border: 1px solid;
}