body {
    display: flex;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    padding: 20px;
}

.card {
    margin: auto;
    width: 500px;
    height: 300px;
    background-image: linear-gradient(135deg, rgb(10, 10, 114), rgb(137, 72, 243));
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    border-radius: 20px;
}

.card img {
    height: 110%;
    position: absolute;
    transition: 0.5s;
    bottom: -10%;
}

.card:hover img {
    transform: translateX(80%);
    height: 160%;
}

.card .content {
    width: 60%;
    align-self: center;
    position: absolute;
    color: white;
    transition: 0.5s 0.2s;
    opacity: 0;
}

.card:hover .content {
    align-self: center;
    transform: translateX(-20%);
    opacity: 1;
}

.card .content h1 {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 13px;
}

.card .content a {
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
    color: black;
    text-decoration: none;
    display: inline-block;
    width: 120px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
}

/* RESPONSIVE */

@media (max-width : 500px) {
    .card {
        height: 300px;
        transition: 0.5s;
    }

    .card:hover {
        height: 500px;
    }

    .card .content {
        width: 80%;
        align-self: center;
        position: absolute;
        color: white;
        transition: 0.5s 0.2s;
        opacity: 0;
    }

    .card:hover .content {
        align-self: center;
        transform: translateX(0) translateY(-40%);
        opacity: 1;
    }

    .card img {
        height: 110%;
        transform: translateX(0);
    }

    .card:hover img {
        transform: translateY(-20px);
        height: 50%;
    }
}