* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

/* ! START HERO SECTION */
#hero {
    width: 100%;
    height: 100vh;
    position: relative;
    /* disable selecting text */
    user-select: none;
}

#hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(img/heroImg.jpg);
    background-size: cover;
    transform: scaleX(-1);
}

#hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .8);
}

#hero .container {
    height: 100vh;
    display: flex;
    align-items: center;
    max-width: 1200px;
}

#hero .container .intro {
    color: white;
    position: relative;
    font-size: 4rem;
    line-height: 2em;
    z-index: 1;
    margin-left: 10rem;
    /*background-color: blue;*/
}


#hero .container .intro h1 {
    position: relative;
}

#hero .container .intro h1:nth-child(1) {
    animation: textReveal 2s forwards;
    animation-delay: .1s;
    color: transparent;
}

#hero .container .intro h1:nth-child(2) {
    animation: textReveal 2s forwards;
    animation-delay: 1.5s;
    color: transparent;
}

#hero .container .intro h1:nth-child(3) {
    animation: textRevealName 2s forwards;
    animation-delay: 2.4s;
    color: transparent;
}

#hero .container .intro h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero .container .intro h1:nth-child(2) span {
    animation-delay: 1.7s;
}

#hero .container .intro h1:nth-child(3) span {
    animation-delay: 3s;
    color: crimson;
}

#hero .container .intro h1 span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: crimson;
    animation: redCoverBox 1s ease forwards;

}

#hero .container .intro a {
    font-weight: bolder;
    color: crimson;
    background-color: transparent;
    font-size: 2rem;
    display: inline-block;
    border: 2px solid crimson;
    padding: 2rem 5rem;
    line-height: normal;
    margin-top: 60px;
    letter-spacing: .1em;
    transition: .3s;
}

#hero .container .intro a:hover {
    color: white;
    background-color: crimson;
}

/* ! END HERO SECTION */

/* ! KEYFRAMES */

@keyframes redCoverBox {
    50% {
        left: 0;
        right: 0;
    }

    100% {
        left: 100%;
        right: 0;
    }
}

@keyframes textReveal {
    50% {
        color: transparent;
    }

    100% {
        color: white;
    }
}

@keyframes textRevealName {
    50% {
        color: transparent;
    }

    100% {
        color: crimson;
    }
}

/* ! END KEYFRAMES */

@media (max-width : 768px) {
    #hero .container .intro {
        color: white;
        position: relative;
        font-size: 3rem;
        margin-left: 5%;
        line-height: 2em;
        z-index: 1;
        background-color: blue;
    }
}