.container {
    width: 600px;
    border: green solid 3px;
    /* membuat container menjadi flex */
    display: flex;
    margin: 20px auto;
}

.kotak {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 4px;
}

/* CONTAINER 1 */
.container1 {
    /* 
    ! flex-direction -> berguna untuk mengatur arah / urutan didalam container
    ! flex-direction: column / column-reverse / row (default) / row-reverse ; 
    */
    flex-direction: row-reverse;
}

/*  ---------------------------------------------------------------------------------*/

/* CONTAINER 2 */
.container2 {
    /* 
! flex-wrap -> Memungkinkan kita untuk memindahkan item dibawahnya jika containernya tidak cukup, kerena secara default flex akan memaksa item berada dalam satu baris
! flex-wrap: wrap / wrap-reverse /  nowrap (default); 
*/
    flex-wrap: wrap;
}

/* ------------------------------------ */

/* CONTAINER 3 */
.container3 {
    height: 300px;
    /*
    ! align-items -> Mengatur penjajaranitem terhadap sumbu vertikal 
    ! align-items: flex-start (default) / flex-end / center / baseline / stretch;
     */
    align-items: flex-end;
}

.container4 {
    height: 700px;
    /* 
    ! align-content --> Sama seperti align-item cuma ini hanya berlaku untuk banyak item
    ! justify-content: --> sama seperti justify-item cuma ini hanya berlaku untuk banyak item
    ! align-content: flex-start (default) / flex-end / center / space-between / space-around;
    ! justify-content: flex-start (default) / flex-end / center / space-between / space-around / space-evenly;
    */
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-evenly;
}

/* 
! order --> mengatur order / urutan pada item
*/
.container5 .kotak1 {
    /* walaupun dipindah ke urutan 3 akan tetapi kotak 1 akan berada pada urutan terakhir, 
    dikarenakan kotak 2,3,4 belum diatur ordernya 
    atau secara default memiliki nilai order : 0; */
    order: 3;
}

/* 
! flex-grow / flex --> mengatur ukuran item pada flex-box dengan perbandingan
* Contoh dibawah ini adalah kita mengatur perbandingan kotak 1,2,4 dengan kotak 3 yaitu dengan perbandingan 1 : 3, dan ukuran akan menyesuaikan
*/

.container6 .kotak1,
.container6 .kotak2,
.container6 .kotak4 {
    background-color: red;
    margin: 4px;
    height: 100px;
    flex: 1;
}

.container6 .kotak3 {
    flex: 3;
    background-color: red;
    margin: 4px;
    height: 100px;
}

/* 
! align-self --> mengatur penjajaran item yg ditarget terhadap sumbu vertikal
! align-self : auto (default), flex-start, flex-end, center, baseline, stretch;
*/
.container7 {
    height: 300px;
}

.container7 .kotak1 {
    background-color: rebeccapurple;
    align-self: stretch;
}